{# Synchronous appearance bootstrap prevents a light flash on dark page loads. #}
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
<script src="{{ url_for('static', filename='js/i18n-catalog.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n-supplement.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n-dynamic.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n-dynamic-learning.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n-dynamic-tools.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/preferences.js') }}" defer></script>
